# Capstone Project - Car accident severity (Week 2)
### Applied Data Science Capstone by Pablo César López

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Data Visualization and pre-processing](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

### Introduction: Business Problem <a name="introduction"></a>

The present analysis aims to generate a Machine Learning model to predict the severity of car accidents in Seattle based of some features registered and related to said accidents. Various algorithms will be analyzed and it will be determined which has the best fit to the provided test data.

### Data Visualization and pre-processing<a name="data"></a>

Importing Python libraries and downloading data set from ibm cloud and loading it into a pandas dataframed

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as pltlab
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [2]:
df=pd.read_csv("https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv",dtype={'ST_COLCODE': np.object})

In [3]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

There are 38 columns and 194673 rows. The label is SEVERITYCODE, which is the value that we want to predict. The other columns are features that we'll use to train ML models. Next step shows the name of columns:

In [4]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

Next, we get information about columns for checking the data types:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

Next, we convert into datetime INCDATE and INCDTTM columns:

In [6]:
df['INCDATE'] = pd.to_datetime(df['INCDATE'])
df['INCDTTM'] = pd.to_datetime(df['INCDTTM'])
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [7]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [8]:
df['SEVERITYCODE.1'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE.1, dtype: int64

We observe that SEVERITYCODE column is repeated and we proceed to drop the duplicated:

In [10]:
df.drop(columns="SEVERITYCODE.1",inplace=True)

In [11]:
df.shape

(194673, 37)

In [12]:
df_list=df
for column in df_list.columns.values.tolist():
    print(column)
    print (df_list[column].value_counts())
    print("")
#df['loan_status'].value_counts()

SEVERITYCODE
1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

X
-122.332653    265
-122.344896    254
-122.328079    252
-122.344997    239
-122.299160    231
              ...
-122.322768      1
-122.288680      1
-122.405699      1
-122.323578      1
-122.343898      1
Name: X, Length: 23563, dtype: int64

Y
47.708655    265
47.717173    254
47.604161    252
47.725036    239
47.579673    231
            ...
47.556705      1
47.709101      1
47.513899      1
47.565438      1
47.563521      1
Name: Y, Length: 23839, dtype: int64

OBJECTID
2047     1
1194     1
58550    1
64693    1
62644    1
        ..
96890    1
90745    1
92792    1
70263    1
2049     1
Name: OBJECTID, Length: 194673, dtype: int64

INCKEY
266238    1
81549     1
104088    1
126615    1
124566    1
         ..
164613    1
176899    1
178946    1
172801    1
295445    1
Name: INCKEY, Length: 194673, dtype: int64

COLDETKEY
266238    1
122129    1
111900    1
101659    1
99610     1
         ..
137750    1
131605    1
133652    1
143891    1
18441     1
Name: COLDETKEY, Length: 194673, dtype: int64

REPORTNO
1780512    2
1776526    2
1782439    2
3646214    1
1198170    1
          ..
3771638    1
E844732    1
3591169    1
2795845    1
1772132    1
Name: REPORTNO, Length: 194670, dtype: int64

STATUS
Matched      189786
Unmatched      4887
Name: STATUS, dtype: int64

ADDRTYPE
Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

INTKEY
29973.0    252
29933.0    160
29913.0    138
29549.0    136
33512.0    128
          ...
36825.0      1
26604.0      1
26603.0      1
36816.0      1
27793.0      1
Name: INTKEY, Length: 7614, dtype: int64

LOCATION
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N    276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB    271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N          265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                    254
6TH AVE AND JAMES ST                                              252
                                                                 ...
S MYRTLE ST BETWEEN 44TH AVE S AND 45TH AVE S                       1
28TH AVE S BETWEEN S MORGAN ST AND S MONTEREY PL                    1
42ND AVE SW BETWEEN DEAD END 1 AND SW HANFORD ST                    1
NW 75TH ST BETWEEN 23RD AVE NW AND JONES AVE NW                     1
6TH AVE NW BETWEEN NW 73RD ST AND NW 74TH ST                        1
Name: LOCATION, Length: 24102, dtype: int64

EXCEPTRSNCODE
       79173
NEI     5638
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC
Not Enough Information, or Insufficient Location Information    5638
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYDESC
Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
2     114231
3      35553
4      14660
1      13154
5       6584
0       5544
6       2702
7       1131
8        533
9        216
10       128
11        56
12        33
13        21
14        19
15        11
17        11
16         8
44         6
18         6
20         6
25         6
19         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
0    187734
1      6685
2       226
3        22
4         4
6         1
5         1
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
0    189189
1      5441
2        43
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64

INCDATE
2006/11/02 00:00:00+00    96
2008/10/03 00:00:00+00    92
2005/05/18 00:00:00+00    84
2005/11/05 00:00:00+00    83
2006/01/13 00:00:00+00    83
                          ..
2020/05/18 00:00:00+00     2
2020/05/20 00:00:00+00     1
2020/05/19 00:00:00+00     1
2015/12/25 00:00:00+00     1
2020/05/17 00:00:00+00     1
Name: INCDATE, Length: 5985, dtype: int64

INCDTTM
11/2/2006                96
10/3/2008                91
11/5/2005                83
12/4/2004                74
6/1/2006                 73
                         ..
12/6/2016 2:42:00 AM      1
11/2/2017 4:29:00 PM      1
9/17/2005 6:06:00 AM      1
9/22/2010 11:22:00 AM     1
4/26/2016 5:25:00 PM      1
Name: INCDTTM, Length: 162058, dtype: int64

JUNCTIONTYPE
Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
11    85209
14    54299
16     9928
0      9787
28     8856
24     6518
13     5852
26     4741
18     3104
15     1604
12     1440
51     1312
29      479
21      181
56      180
27      166
54      139
23      124
48      107
31      104
25      102
34       93
64       75
69       69
33       53
55       50
66       23
22       17
32       12
53        9
44        8
61        7
35        6
58        5
68        4
36        4
46        3
52        2
47        1
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE          85209
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                    54299
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE          9928
NOT ENOUGH INFORMATION / NOT APPLICABLE                          9787
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                    8856
MOTOR VEHCILE STRUCK PEDESTRIAN                                  6518
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE           5852
MOTOR VEHICLE STRUCK OBJECT IN ROAD                              4741
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE            3104
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE         1604
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE          1440
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE             1312
MOTOR VEHICLE OVERTURNED IN ROAD                                  479
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                       181
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE             180
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                         166
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                        139
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE            124
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                107
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE        104
MOTOR VEHICLE STRUCK TRAIN                                        102
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                   93
PEDALCYCLIST STRUCK PEDESTRIAN                                     75
PEDALCYCLIST OVERTURNED IN ROAD                                    69
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE         53
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE             50
PEDALCYCLIST STRUCK OBJECT IN ROAD                                 23
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE            17
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE        12
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                9
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                8
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                           7
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE        6
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                 5
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE         4
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                        4
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                         3
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE               2
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                      1
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
Y    29805
Name: INATTENTIONIND, dtype: int64

UNDERINFL
N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

WEATHER
Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

ROADCOND
Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

LIGHTCOND
Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT
Y    4667
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM
4116034.0     2
11200007.0    2
4112025.0     2
4116048.0     2
5036003.0     1
             ..
6262043.0     1
6162018.0     1
6277003.0     1
8267022.0     1
5071015.0     1
Name: SDOTCOLNUM, Length: 114932, dtype: int64

SPEEDING
Y    9333
Name: SPEEDING, dtype: int64

ST_COLCODE
32    44421
10    34674
14    25771
50    13554
11    12777
      ...
43        2
87        2
85        1
60        1
49        1
Name: ST_COLCODE, Length: 63, dtype: int64

ST_COLDESC
One parked--one moving                                                 44421
Entering at angle                                                      34674
From same direction - both going straight - one stopped - rear-end     25771
Fixed object                                                           13554
From same direction - both going straight - both moving - sideswipe    12777
                                                                       ...
Vehicle Strikes All Other Non-Domestic Animal                              2
Railway Vehicle Strikes Pedalcyclist                                       2
Non-domestic animal (deer, bear, elk, etc)                                 1
Vehicle Hits State Road or Construction Machinery                          1
Vehicle Strikes Deer                                                       1
Name: ST_COLDESC, Length: 62, dtype: int64

SEGLANEKEY
0         191907
6532          19
6078          16
12162         15
10336         14
           ...
35157          1
10817          1
15043          1
525169         1
16376          1
Name: SEGLANEKEY, Length: 1955, dtype: int64

CROSSWALKKEY
0         190862
523609        17
520838        15
525567        13
521707        10
           ...
521019         1
630862         1
25545          1
523322         1
27186          1
Name: CROSSWALKKEY, Length: 2198, dtype: int64

HITPARKEDCAR
N    187457
Y      7216
Name: HITPARKEDCAR, dtype: int64

# Identify missing values
### Evaluating for Missing Data

In [13]:
missing_data = df.isnull()
missing_data.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False

"True" stands for missing value, while "False" stands for not missing value.

## Count missing values in each column
We check the number of missing values in each column. As mentioned above, "True" represents a missing value, "False" means the value is present in the dataset:

In [14]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

NameError: name 'missing_data' is not defined

Now, we'll choose the features for training the ML model

SEVERITYCODE	---> Label <br>
X -----------------> feature: drop null's	<br>
Y -----------------> feature: drop null's	<br>
OBJECTID	---> drop column <br>
INCKEY 	---> drop column <br>
COLDETKEY	---> drop column <br>
REPORTNO	---> drop column <br>
STATUS		---> drop column <br>
ADDRTYPE	---> feature: hot encoding, drop null's <br>
INTKEY 	---> drop column <br>
LOCATION	---> drop column <br>
EXCEPTRSNCODE	---> drop column <br>
EXCEPTRSNDESC	---> drop column <br>
SEVERITYDESC	---> drop column <br>
COLLISIONTYPE	---> hot encoding <br>
PERSONCOUNT	---> feature <br>
PEDCOUNT	---> feature <br>
PEDCYLCOUNT	---> feature <br>
VEHCOUNT	---> feature <br>
INCDATE_DAYOFWEEK -> calculated feature from INCDATE <br>
INCDATE_DAY_MTH -->calculated feature from INCDATE <br>
JUNCTIONTYPE 	---> hot encoding <br>
SDOT_COLCODE	---> OK <br>
SDOT_COLDESC	---> drop column because It's descriptive <br>
INATTENTIONIND	---> drop cdrop column because It's not possible knowing this feature before a forensic analysis. <br> <br>
UNDERINFL	---> drop column because It's not possible knowing this feature before a forensic analysis. <br>
WEATHER	---> hot encoding <br>
ROADCOND	---> drop column because It's not possible knowing this feature before a forensic analysis. <br>
LIGHTCOND	---> drop column because It's not possible knowing this feature before a forensic analysis. <br>
PEDROWNOTGRNT	---> drop column because It's not possible knowing this feature before a forensic analysis. <br>
SPEEDING	---> drop column because It's not possible knowing this feature before a forensic analysis. <br>
ST_COLCODE	---> feature
ST_COLDESC	---> drop column because It's descriptive

## Methodology <a name="methodology"></a>

The analytical approach will be a predictive model. Acording to the main goal of this project, we're going to determinate the best ML model to predict the severity of car crashes in Seattle. We'll analyze diferrent algorithms and compare each other to select the best fit to data set.

## Analysis <a name="analysis"></a>